/* Universal Styling */

html {
    font-family: 'Raleway', Arial, sans-serif;
}

a:link , a:visited{
    text-decoration: none;
    color: inherit;
  }

.darkgray {
    color: #4a4a4a;
}

.medgray {
    color: #767676;
}

.lightgray {
    color: #9b9b9b;
}

.nobold {
    font-weight: normal;
}

.bold700 {
    font-weight: 700;
}

.bold900 {
    font-weight: 900;
}

.bck-xlightgray {
    background-color: #f3f5f5;
}

.bck-lightgray {
    background-color: #eaebec;
}

.bck-medgray {
    background-color: #d8d8d8;
}

.bck-darkgray {
    background-color: #4a4a4a;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 24px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.spaceevenly {
    justify-content: space-evenly;
}

.spacebetween {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.width100 {
    width: 100%;
}

/* Header Styling */

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
}

#navleft , #navright {
    height: 32px;
    padding: 16px 24px;
    line-height: 32px;
}

#navleft a:hover {
    text-decoration: none;
}

#navright a:hover {
    font-weight: 900;
}

/* Main Section */
.large-media img , video {
    width: 100%;
    height: auto;
}

#bannertext {
    padding: 16px;
}

#bannertext p {
    text-align: center;
    padding: 8px 0;
    color: #fff;
    margin: 8px 0 16px 0;
}

#bannertext h1 , #bannertext h2 {
    margin: 16px 0;
}

#bannertext a:hover {
    font-weight: 900;
}

/* Media Queries */

/* Mobile specific styling */
@media only screen and (max-width: 640px) {

    /* Universal Mobile Styling */
    .desktop {
        display: none;
    }

    #navright {
        padding: 16px 0;
        width: 100%;
    }

    #navright img {
        height: 100%;
        width: auto;
    }
}

/* Desktop specific styling */
@media only screen and (min-width: 641px) {

    /* Universal Desktop Styling */
    .mobile {
        display: none;
    }

    /* Header Desktop Styling */
    #navleft {
        left: 0;
    }
    
    #navright {
        right: 0;
    }

    #navright a {
        padding-left: 16px;
    }

    /* Main Desktop Styling */
    .large-media {
        padding: 32px 8px 32px 24px;
        width: 60%;
    }

    #bannertext {
        width: 23%;
        height: auto;
    }

    #bannertext h2 {
        padding-bottom: 8px;
    }
}