/* Universal Styling */

html {
    font-family: 'Raleway', Arial, sans-serif;
}

a:link , a:visited{
    text-decoration: none;
    color: inherit;
  }

.darkgray {
    color: #4a4a4a;
}

.medgray {
    color: #767676;
}

.lightgray {
    color: #9b9b9b;
}

.nobold {
    font-weight: normal;
}

.bold700 {
    font-weight: 700;
}

.bold900 {
    font-weight: 900;
}

.bck-xlightgray {
    background-color: #f3f5f5;
}

.bck-lightgray {
    background-color: #eaebec;
}

.bck-medgray {
    background-color: #d8d8d8;
}

.bck-darkgray {
    background-color: #4a4a4a;
}

.flex-container {
    display: flex;
}

.spaceevenly {
    justify-content: space-evenly;
}

/* Header Styling */

#navleft , #navright {
    position: fixed;
    top: 0;
    height: 32px;
    padding: 16px 24px;
    z-index: 100;
    background-color: #fff;
    line-height: 32px;
}

#navleft a:hover {
    text-decoration: none;
}

#navright a:hover {
    font-weight: 900;
}

/* Main Section */

/* Media Queries */

@media only screen and (max-width: 640px) {
/* Mobile specific styling */
    .desktop {
        display: none;
    }

    #navright {
        padding: 16px 0;
        width: 100%;
    }

    #navright img {
        height: 100%;
        width: auto;
    }
}

@media only screen and (min-width: 641px) {
/* Desktop specific styling */
    .mobile {
        display: none;
    }

    #navleft {
        left: 0;
    }
    
    #navright {
        right: 0;
    }

    #navright a {
        padding-left: 16px;
    }
}